
body,html {
    padding:0; 
    margin:0;
    font-size: 11pt;
    background: linear-gradient(to bottom right, #ffffff, #BBDEFB);
    font-family: 'Open Sans', sans-serif;}

textarea{
    padding: 10px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header-container {
    background-color: #64B5F6; 
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 25px 25px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    color: white;
}


.subtitle {
    font-size: 50%;
}

.logininfo {
    font-size: 40%;
    text-align: right;
    margin-right: 1em;
}

#body {
    background: linear-gradient(to bottom right, #ffffff, #BBDEFB);
    font-family: 'Open Sans', sans-serif;
}

#footer {
    height:30px;        
    font-size: 9pt;
    text-align: center;
    background-color: #64B5F6;
    color: white;
    margin-top: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
}


a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.menu {
    background: white;
    color: #73A2BD;
    font-size: 80%;
    padding: 5px;
    overflow: hidden;
}

.menu.horizontal {
    border-bottom: 2px dashed #53829D;
}

.menu.vertical {
    border-right: 2px dashed #53829D;
}

.menu a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.menu a:hover {
    background-color: #73A2BD;
    color: white;
}

.menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

.menu li {
    margin:0;
    padding:0;
    display: block;

}

.menu.horizontal li {
    margin: 0 5px;
    float:left;
}

.menu.vertical li {
    margin: 5px 0;    
}

.figures {
    overflow: hidden;
}

.figure {
    border: 1px solid #CCC;
    padding: 5px;
    margin: 10px;
    float:right;     
}

.figure img {
    display: block;     
}

.figure .caption {
    display: block;     
    text-align: center;
    font-size: 80%;
}

select {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:hover {
  border-color: #ccc;
}

select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

select option {
  padding: 8px;
}

select,input,textarea {
    width: 85%;
}

select.small,input.small {
    width: 15%;
}

select.medium,input.medium {
    width: 40%;
}

.clabel {
    font-weight: bold;
}

.form-card {
            max-width: 400px;
            margin: 100px auto;
            padding: 30px;
            background-color: rgba(255, 255, 255, 0.8); 
            border-radius: 15px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
            backdrop-filter: blur(10px); 
            text-align: center;
        }

        .input-group{
            margin-bottom: 20px;
        }

        .form-label {
            color: #8597a3;

        }
       

        .form-input {
            border: 0;
            z-index: 1;
            background-color: transparent;
            border-bottom: 2px solid #eee;
            border-bottom-color: #42A5F5;
            font: inherit;
            font-size: 1.125rem;
            padding: .25rem 0;
            width: 70%;

        }

       .form-button {
           width: 70px;
           background-color: white;
           border-radius: 5px;
           color: black;
           border: 2px solid #2196F3;
           transition-duration: 0.4s;
           width: 20%;
           height: 30px;
           margin-bottom: 20px;
           margin-top: 10px;
        }

        .form-button:hover {
          background-color: #2196F3;
          color: white;
        }

        
        
       /*
    homepage admin
*/

.container-beige {
    padding: 30px;
    text-align: center;
}

.container-beige-not-centered{
    padding: 20px;
}
.hi-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.no-wrap {
    white-space: nowrap;
}

.subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.card-title-dark, .card-title-light {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    margin-bottom: 20px;
    vertical-align: text-bottom;
}

.card-title-dark {
    color: #1e1e1e;
}

.card-title-light {
    color: #fff;
}

.card-title-notifications {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    vertical-align: text-center;
    color: #1e1e1e;
}
.buttons-container{
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
}
.two-buttons-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap;
}

.three-buttons-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    flex-wrap: wrap;
}


.notifications-container {
    display: flex;
    justify-content: right; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    gap: 20px; 
    flex-wrap: wrap;
}

.card-purple, .card-orange, .card-skyblue, .card-salm {
    width: 180px; 
    height: 230px; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
}

.card-pink-notifications, .card-notif-pulse {
    width: 180px; 
    height: 50px; 
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFC7C2;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card-notif-pulse {
    width: 200px;
    min-width: 200px;
    animation: pulse 2s infinite;
    min-width: fit-content;
    max-width: fit-content;
}

.card-pink-notifications .img-notif {
    width: 15%;
    height: auto;
    margin-right: 10px;
}

.card-notif-pulse .img-notif {
    width: 15%;
    height: auto;
    margin-right: 10px;
}

.card-purple {
    background-color: #5D54BE; 
}

.card-orange {
    background-color: #F67956; 
}

.card-skyblue {
    background-color: #90D5FE; 
}

.card-salm {
    background-color:#1E88E5; 
}

.card-purple:hover {
    background-color: #5935ad; 
}

.card-orange:hover {
    background-color: #e65c2e; 
}

.card-skyblue:hover {
    background-color: #67c4f1; 
}

.card-salm:hover {
    background-color: #1976D2; 
}

.card-pink-notifications:hover {
    background-color: #c9908b; 
}

.icon {
    width: 80px; 
    height: 80px;
    margin-bottom: 20px;    
}

p {
    margin: 0;
    font-size: 16px;
}

.form-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-container {
    background-color: #f5a25d;
    padding: 20px;
    border-radius: 30px;
    text-align: left;
}

.role-selection {
    margin-bottom: 20px;
}

.white-label{
    display: block;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;}

.role-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.role-buttons input[type="radio"] {
    display: none; 
}


.role-buttons input[type="radio"]:checked + label {
    background-color: #67c4f1;
}

.lblue-button {
    background-color: #aad4fc;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    font-size:14px;
}

.lblue-button:hover, .icon-button:hover {
    background-color: #67c4f1;
}

.form-group {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px; 
    margin-bottom: 15px;
    align-items: center;
}

.form-group label {
    font-size: 16px;
    color: white;
    text-align: right; 
    padding-right: 10px;
}

.form-group input {
   padding: 10px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.purple-button {
    background-color: #546de5;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.light-orange-button {
    background-color: #1E88E5;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
}

.green-button {
    background-color: #53dd47;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    color: rgb(104, 102, 102);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.purple-button a {
    color: #fff; 
    text-decoration: none; 
    display: inline-block;
    width: 100%;
    height: 100%;
}

.orange-button {
    background-color: #ff6f3e;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.purple-button:hover {
    background-color: #405dce;
}

/*
dovete chiamarlo in un altro modo, sennò si sminchiano cose già fatte 
.purple-button:hover {
    background-color: #06b22e;
}

*/
.orange-button:hover {
    background-color: #e65c2e;
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.logo {
    width: 40px;
    height: 40px;
    background-color: #e7a16f; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tiny-logo {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo img {
    width: 70%;
    height: auto;
    display: block;
}

.search-bar input {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.title-dark-brown {
    font-size: 24px;
    font-weight: bold;
    color: #6d4c41;
    margin: 10px;
}

.title-black {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin: 10px;
}

.margin-10{
    margin: 10px;
}

/*
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.category-item{
    width: 100%;
}
*/
.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-item{
    flex: 1 1 150px;
    display: block;
}





.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.breadcrumb a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.breadcrumb span {
    font-size: 18px;
    color: #1E88E5;
    margin-left: 10px;
}

.category-details {
    margin-top: 20px;
}


.icon-button {
    background-color: #aad4fc;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-button img {
    width: 70%;
    height: auto;
}

.parent-category {
    margin-top: 20px;
    margin-bottom: 20px;
}

.parent-category strong {
    font-size: 18px;
    color: #4d2c1c;
}

.subcategories strong {
    font-size: 18px;
    color: #4d2c1c;
    display: block;
    margin-bottom: 10px;
}

.subcategory-buttons {
    display: flex;
    flex-wrap: wrap;
}

.form-container-orange {
    background-color: #90CAF9;
    padding: 20px;
    border-radius: 30px;
    text-align: left;
}

.lblue-select {
    padding: 10px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    background-color: #aad4fc;
    color: white;
    cursor: pointer;
}


/* PARTE TECNICO */

/* Navigazione */
.nav-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin-left: auto;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.home-card {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-right: 10px;
}

.home-icon {
    width: 30px;
    height: 30px;
}

#caratteristiche-container {
    margin-bottom: 15px;
}

.caratteristica-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cancel-btn {
    background-color: #f67956;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-btn :hover {
    background-color: #e65746;
}

.error-message{
    color: red;
}

.success-msg {
    color: green;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* Barra di ricerca */
.search-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin-right: auto;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 200px;
    outline: none;
    font-size: 16px;
    width: 300px;
    justify-content: right;
}

.search-button {
    height: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #42A5F5;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    justify-content: right;
    flex-shrink: 0;
}

.search-button:hover {
    background-color: #e18f58;
}

/* Filtro */
.filter-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin-right: auto;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filter-text {
    font-size: large;
    color: #757575;
    margin-right: 10px;
}

.filter-select {
    display: inline-block;
    position: relative;
    width: 150px;
}

.filter-select::after {
  content: '▼';
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

.standard-select {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 30px;
    border-radius: 12px;
}

.standard-select::after {
  content: '▼';
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

/* Elenco contenuti */
.rows-container, .rows-legenda{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-row-purple, .card-row-skyblue,.card-row-salm, .card-row-orange, .card-row-pink, .card-row-notif{
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}

.card-row-transparent {
    width: 90%;
    height: auto;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    margin-left: 5%;
    margin-right: 5%;

}



.card-row-purple {
    background-color: #5D54BE;
}

.card-row-skyblue {
    background-color: #afe0fe;
}

.card-row-salm {
    background-color: #1E88E5;
}

.card-row-orange {
    background-color: #F67956;
}

.card-row-pink {
    background-color: #FFC7C2;
}

.card-row-purple:hover {
    background-color: #5935ad;
}

.card-row-skyblue:hover {
    background-color: #67c4f1;
}
.card-row-salm:hover {
    background-color:#167bd3;
}

.card-row-orange:hover {
    background-color: #e65c2e;
}

.card-row-pink:hover {
    background-color: #c9908b;
}

.card-row-content {
    width: 20%;
    background-color: #E6E6E6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 10px;
    flex: 1;
    padding: 10px;
}

.card-row-text {
    color: #000000;
    margin: 10px;
    font-size: 16px;
}

.a-cards {
    width: inherit;
    height: inherit;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
    text-align: inherit;
    transition: inherit;
    cursor: inherit;
    background-color: inherit;
    margin: inherit;
    flex: inherit;
    padding: inherit;
    margin-right: inherit;
    max-width: inherit;
    font-size: inherit;
    margin-left: inherit;
    margin-bottom: inherit;
}

/* Contenuti detail richiesta e storico */
.container-richieste-storico {
    width: 100%;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    background-color: #90CAF9;
    border-radius: 30px;
}

.row-tecnico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.row-tecnico > * {
    flex: 0 1 auto;
    margin: 0;
}

.form-group-tecnico {
    width: 75%;
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group-tecnico label {
    text-align: left;
    display: block;
    font-size: 25px;
    color: #333;
    margin-right: 20px;
}

.proposte-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Spaziatura tra le card */
}

.proposta-card {
    background-color: #E3F2FD; 
    border: 1px solid #dcdfe6; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 200px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-left: 10px;
}

.proposta-card a {
    text-decoration: none; 
    color: inherit; 
}

.proposta-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.skyblue-richiesta-storico, .orange-richiesta-storico, .pink-richiesta-storico1 {
    width: 70%;
    max-width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    color: white;
    margin-left: auto;
}

.purple-richiesta-storico {
    background-color: #5D54BE;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: white;
}

.darkblue-richiesta-storico{
    background-color: #2F6690;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: white;
}

.skyblue-richiesta-storico1 {
    background-color:  #0D99FF;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: white;
}

.skyblue-richiesta-storico {
    background-color: #E3F2FD;
    color: black;
}

.orange-richiesta-storico {
    background-color: #F67956;
    
    color: white;
}

.pink-richiesta-storico1 {
    background-color: #FFC7C2;
    height: 50px;
    color: #757575;
}

.pink-richiesta-storico2 {
    margin-right: 10px;
    width: 21%;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin-left: auto;
    background-color: #FFC7C2;
    height: auto;
    color: #757575;
    margin-bottom: 10px;
}

.grey-storico {
    background-color: #979dac;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: black;
}

.btn-verde {
    display: block;
    width: auto;
    padding: 10px;
    background-color: #AAE8B4;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-blu, .btn-proposte {
    display: block;
    width: auto;
    padding: 10px;
    background-color: #1E88E5;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn-proposte {
    background-color: #f4c46c;
    color: #000000;
    font-weight: normal;
    margin-left: 10px;
}

.btn-proposte:hover {
    background-color: #f7bd50;
}


.btn-blu:hover {
    background-color: #1976D2;
}

.btn-verde:hover {
    background-color: #98D8A2;
}

.hidden {
    display: none;
}

/* Detail proposta tecnico */
.container-proposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.container-info-proposta {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: left;
    gap: 20px;
    margin: 20px;
}

.container-skyblue-proposta, .container-purple-proposta {
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    text-align: right;
}

.container-skyblue-proposta {
    background-color: #90D5FE;
}

.container-purple-proposta {
    background-color: #5D54BE;
}

.container-skyblue-proposta label {
    width: 100%;
    text-align: left;
    display: block;
    font-size: 25px;
    color: #333;
    margin-right: 150px;
}

.container-purple-proposta label {
    width: 100%;
    text-align: right;
    display: block;
    font-size: 25px;
    color: #ffffff;
    margin-right: 150px;
}

.badge-stato {
    background-color: #bdbdbd;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: black;
    text-align: center;
    overflow: hidden;
}

.grey-row {
    width: 100%;
    /*width: 2000px;*/
    max-width: 2000px;
    background-color: #E6E6E6;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.grey-row a {
    text-decoration: underline;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom; 
}

.btn-arancio {
    display: block;
    width: auto;
    padding: 10px;
    background-color: #42A5F5;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-arancio:hover {
    background-color: #df9869;
}

/* Invio di una nuova proposta */
.textfield-grey {
    width: 2000px;
    height: auto;
    background-color: #E6E6E6;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Notifica non letta */
.card-row-notif {
    background-color: #FFC7C2;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
      background-color: #FFC7C2;
    }
    50% {
      background-color: #ff0000;
    }
}


/* Responsive for homepage admin*/
@media (max-width: 600px) {
    .container-beige {
        width: 85%;
        padding: 20px;
    }

    .container-richieste-storico {
        width: auto;
    }

    .container-info-proposta {
        width: 100%;
        flex-direction: column;
    }

    .container-skyblue-proposta, .container-purple-proposta {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .container-skyblue-proposta label {
        text-align: center;
        margin-right: 0;
    }

    .container-purple-proposta label {
        text-align: center;
        margin-right: 0;
    }

    .form-container {
        padding: 15px;
    }

    .container-proposta {
        width: auto;
    }

    .notifications-container {
        margin-right: 10px;
    }
    .form-title {
        font-size: 20px;
    }

    .form-group input {
        font-size: 14px;
        padding: 8px;
    }

    .role-buttons {
        flex-direction: column;
    }

    .lblue-button {
        margin: 5px 0;
        padding: 8px;
        font-size: 14px;
    }

    .form-buttons {
        flex-direction: column;
    }

    .orange-button,
    .purple-button,
    .green-button {
        margin: 5px 0;
        padding: 10px;
        font-size: 16px;
    }

    .search-bar, .search-bar input {
        width: 50%;
    }
    
    .categories {
        grid-template-columns: 1fr 1fr;
    }

    .search-bar input {
        width: 100%;
    }

    .row-tecnico {
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }

    .form-group-tecnico {
        width: 100%;
        flex-direction: column;
    }

    .btn-verde, .btn-arancio, .skyblue-richiesta-storico, .orange-richiesta-storico, .pink-richiesta-storico1, .pink-richiesta-storico2 {
        width: 100%;
    }
    
   
}

/* utili */
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    
    justify-content: center;
    gap: 20px;
}


.pallino-rosso{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
}

.badge-statoOrdine {

    width: 10%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: black;
    text-align: center;
    overflow: hidden;
}

.container-salm-proposta{
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    text-align: right;
}

.container-salm-proposta {
    background-color: #57a6eb;
}

.container-salm-proposta label {
    width: 100%;
    text-align: right;
    display: block;
    font-size: 25px;
    color: #333;
    margin-right: 150px;
}



.card-notifiche {
    width: 180px; 
    min-width: 180px;
    height: 50px; 
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #c9d2d5;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card-notifiche .img-prof{
    width: 15%;
    height: auto;
    margin-right: 10px;
}


.card-notifiche:hover {
    background-color: #b9babc; 
}


.card-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    vertical-align: text-center;
    color: #1e1e1e;
}


    .width150px{
        max-width: 150px;
    }
    
    .width50px{
        max-width: 50px;
    }
    
    
    .span-1{
       grid-column: span 1;
    }
    
    .margin-right{
        margin-right: 10px;
    }
    
    .margin-bottom{
        margin-bottom: 10px;
    }

    .max-width-card {
        width: 100%;
        max-width: 1200px;
    }

    
@media (max-width: 768px) {
    .card-purple, .card-orange, .card-skyblue, .card-salm {
        width: 100%;
        height: 200px;
    }

    .card-pink-notifications {
        width: 100%;
        height: 50px;

    }
    
    .two-buttons-container {
        gap: 10px; 
    }

    .three-buttons-container {
        gap: 5px; 
    }

    .nav-container {
        width: 100%;
        height: auto;
    }

    .rows-container, .rows-legenda {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
    }

    .card-row-orange, .card-row-purple, .card-row-skyblue, .card-row-pink, .card-row-notif , .card-row-salm{
        flex-direction: column;
    }

    .card-row-content {
        width: 80%;
    }

    .grey-row {
        width: auto;
    }

    .badge-stato {
        width: 100%;
    }
    .badge-statoOrdini {
        width: 100%;
    }
    .textfield-grey {
        width: auto;
    }
}

@media only screen and (max-width: 959px) {
    body,html {    
        font-size: 10pt;
    }
}

@media only screen and (max-width: 767px) {
    .menu, .menu.horizontal, .menu.vertical { 
        border-bottom: 2px dashed #53829D;
        border-right: none;
    }
}

.rifiuto-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.rifiuto-buttons input[type="radio"] {
    display: none; 
}


.rifiuto-buttons input[type="radio"]:checked + label {
    background-color: #f1b751;
}

.rorange-button {
    background-color: #e5a056;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    font-size:14px;
}

.rorange-button:hover, .icon-button:hover {
    background-color: #e88e3b;
}

.rorange-select {
    padding: 10px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    background-color: #e77d2687;
    color: white;
    cursor: pointer;
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.custom-alert-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
}

.vai-richiesta {
    background-color: #1E88E5;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: white;
}


.vai-richiesta:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.darkblue-richiesta-storico:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}
 